@charset "UTF-8";
.first {
    border: 2px solid gray;
    width: 600px;
    height: 130px;
    margin-bottom: 30px;
    padding: 10px;
}
.second {
    border: 2px solid gray;
    width: 600px;
    height: 130px;
    margin-bottom: 30px;
    padding: 10px;
}
.third {
    border: 2px solid gray;
    width: 600px;
    height: 250px;
    margin-bottom: 30px;
    padding: 10px;
}