@charset "UTF-8";

/* 출력화면 CSS처리 */
.display {
    background-color: rgb(173, 173, 173);
    padding: 15px ;
    width: 250px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* //출력화면 CSS처리 */
/* 공통버튼 CSS처리 */
button {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: rgb(196, 196, 196);
    color: black;
    font-size: 20px;
}
/* //공통버튼 CSS처리 */
/* 버튼 마우스 커서 효과 및 클릭시 효과 CSS 처리 */
button:hover {
    cursor: pointer;
    background-color: rgba(92, 92, 92, 0.781);
}
button:active {
    background-color: rgb(87, 87, 87);
}
/* //버튼 마우스 커서 효과 및 클릭시 효과 CSS 처리 */